<div class="row">
	<div class="col-xs-12">
		<h3>Modifica data conguaglio: <%= Building.find(cookies[:building]).name %></h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="dateFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right">
			<%= link_to balance_dates_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Torna alla lista
			<% end %>
		</p>
	</div>
</div>