<div class="row">
	<div class="col-xs-12">
		<h3>Modificare Annuncio</h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="adFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right" style="margin:20px;">
			<% path = logged_user.admin? ? administration_ads_path : personal_ads_ads_path %>
			<%= link_to path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Tornare alla lista
			<% end %>
		</p>
	</div>
</div>