<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div id="page">
			<% if flash[:notice].present? %>
				<div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
			<% end %>
			<% if flash[:alert].present? %>
				<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
			<% end %>
		</div>

		<div ng-controller="loginController">
			<h3 class="text-center">Accedi per favore</h3>
			<%= form_tag sessions_path, method: "post", class: "form-signin", name: "loginForm", novalidate: "novalidate" do %>				<div class="form-group">
					<label for="login[email]">Email:</label>
					<input type="email" name="login[email]" class="form-control" placeholder="Email" ng-model="login.email" ng-required="true">
				</div>
				<div class="form-group">
					<label for="login[password]">Password:</label>
					<input type="password" name="login[password]" class="form-control" placeholder="Password" ng-model="login.password" ng-required="true">
				</div>
				<div>
					<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Accedi</button>
				</div>
				<div>
					<%= link_to "Password dimenticata?", :controller => "users", :action => "forgot_password" %>
				</div>
			<% end %>
		</div>
	</div>
</div>