<div class="row">
	<div class="col-xs-12">
		<h3>Modificare bollos</h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="bollosFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right">
			<%= link_to bollo_ranges_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Tornare alla lista
			<% end %>
		</p>
	</div>
</div>