<div class="row">
	<div class="col-xs-11 cal-box">
		<div class="cal-row-fluid cal-row-head">
			<div class="cal-cell1" ng-repeat="day in weekDays">{{ day }}</div>
		</div>

		<div class="cal-month-box">
			<div ng-repeat="week in view track by $index">
				<div class="cal-row-fluid cal-before-eventlist">
					<div class="cal-cell1 cal-cell" ng-repeat="day in week track by $index">
						<div class="cal-month-day" ng-class="{'cal-day-outmonth': !day.inMonth, 'cal-day-inmonth' : day.inMonth, 'cal-day-weekend': day.weekend, 'cal-day-today' : day.isToday }">
							<span ng-click="drillDown(day.label)" class="pull-right" data-cal-date>{{ day.label }}</span>
							<div class="cal-day-tick" ng-show="day.isOpened">
								<i class="glyphicon glyphicon-chevron-up"></i>
							</div>
							<div class="events-list" ng-if="day.events.length">
								<a ng-repeat="event in day.events" href="javascript:;" id="events-{{ day.date.format('YYYY-MM-DD') }}-{{ keys(event)[0].replace('#', '') }}" ng-click="loadPopover(event, day.date, $event)"><small class="badge event-info" style="background-color: {{ keys(event)[0] }} !important;">{{ event[keys(event)[0]].length }}</small></a>
							</div>
							
						</div>
				
					</div>
			
				</div>
				<div class="cal-row-fluid"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-1 cal-month-control">
		<div class="row">
			<div class="col-xs-8 control-btns text-left">
				<a href="javascript:;" class="btn btn-default btn-sm" placement="left" tooltip-url="/events/new" title ="Nuovo Evento" erli-tooltip="popover"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>
</div>