<div class="popover">
	<div class="arrow"></div>
	<div class="popover-title">
		<h5>Spesa <%= @expense.expense.try(:name) %> per appartamento <%= @apartment.name %></h5>
	</div>
	<div class="popover-content" ng-controller="apartmentExpenseFormController">
		<% if @expenses.size > 0 %>
			<%= render :partial => "form" %>
		<% else %>
			<p>Attualmente non ci sono spese di appartamento disponibili. Per favore creare una.</p>
		<% end %>
	</div>
</div>