<div class="row">
	<div class="col-xs-12">
		<h3>Edit Administrator <%= @user.name %></h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="userFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right"><%= link_to " << Back to list", users_path %></p>
	</div>
</div>