<div class="row text-center">
	<% if flash[:notice].present? %>
		<div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert].present? %>
		<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
	<% end %>
	
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<h4>Inserisci Il Tuo Indirizzo Email. Una Email Verrà Inviato Per Reimpostare La Password</h4>
		<div ng-controller="loginController">
			<%= form_tag({:controller => "users", :action => "forgot_password"}, method: "post", class: "form-signin", name: "loginForm", novalidate: "novalidate") do %>			<div class="form-group">
					<input type="email" name="email" class="form-control" placeholder="Email" ng-model="login.email" ng-required="true">
				</div>
				<div>
					<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Inviare Email</button>
				</div>
			<% end %>
		</div>
	</div>
</div>