<div class="row text-center">
	<% if flash[:notice].present? %>
		<div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:alert].present? %>
		<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
	<% end %>
	
	<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<h4>Ciao <%= @user.name %>,<br /> Si Prega di Modificare la Password</h4>
		<div ng-controller="loginController">
			<%= form_tag({:controller => "users", :action => "reset_password", :pw_code => @user.pw_code}, method: "post", class: "form-signin", name: "loginForm", novalidate: "novalidate") do %>
				<div class="form-group">
					<label for="passwd" class="col-sm-12 control-label">Password</label>
					<div class="col-sm-12">
						<input type="password" name="user[passwd]" class="form-control" placeholder="Password" ng-model="login.password" ng-required="true">
					</div>
				</div>
				<div class="form-group">
					<label for="passwd_confirmation" class="control-label col-sm-12" style="margin-top:20px;">Confirmazione della Password</label>
					<div class="col-sm-12">
						<input type="password" name="user[passwd_confirmation]" class="form-control" placeholder="Password" ng-model="login.passwordConfirmation" ng-required="true">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12" style="margin-top:20px;">
						<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Modifica Password</button>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>