<div class="row">
	<div class="col-xs-12">
		<h3>Nuovo Email non Pagato</h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="unpaidEmailFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right" style="margin:20px;">
			<%= link_to unpaid_emails_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Tornare alla lista
			<% end %>
		</p>
	</div>
</div>