<div class="modal-header">
	<h4>Modificare Locazione per <%= @lease.users.first.name %> per Appartamento <%= @apartment.name %></h4>
</div>
<div class="modal-body" ng-controller="leaseFormController">
	<%= render :partial => "form" %>
</div>
<div class="modal-footer">
	<ul class="danger leaseFormErrors">
	</ul>
	<a href="#" ng-click="closeForm($event)">chiudere</a>
</div>