<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Dati contratto per Interno <%= @apartment.name %></h4>
			</div>
			<div class="modal-body" ng-controller="leaseFormController">
				<%= render :partial => "form" %>
			</div>
			<div class="modal-footer">
				<ul class="danger leaseFormErrors">
				</ul>
			</div>
		</div>
	</div>
</div>