<div class="modal-header">
	<h3>Nuova Locazione per Appartamento <%= @apartment.name %></h3>
</div>
<div class="modal-body" ng-controller="leaseFormController">
	<%= render :partial => "form" %>
</div>
<div class="modal-footer">
	<ul class="danger leaseFormErrors">
	</ul>
	<a href="#" ng-click="$close()">chiudere</a>
</div>