// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
//= require fontawesome/scss/font-awesome.scss

body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef;
}

a {
  color: #00B7FF;
}

hr {
	border-top: 1px solid rgb(204, 204, 204);
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #ffffff;
}

tr.success a, tr.danger a, tr.info a {
	color: #216795;
	font-weight: bold !important;
}

.error-message {
	display: block;
	margin-top: 10px;
	color: red;
}

input.ng-dirty.ng-invalid{ 
	border-color:red;
}

.form-signin {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 15px 35px 35px;
	background: #fff;
	button {
		margin-bottom: 20px;
	}
}

#edit-building {
	box-sizing: border-box;
	padding: 0 30px;
	position:fixed;
	width:100%;
	height:100%;
	margin-top:-10px;
	margin-left: -15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	overflow-y: auto;
	overflow-x: scroll;
}

.signin {
	margin-top: 50px;
}

.partial {
	background-color: #F0C9A1;
}

.leaseFormErrors {
	color: red;
	text-align: left;
}

.table-striped > tbody > tr:nth-child(even) {
	background-color: #d9edf7;
}

.summary {
	font-size:12px;
	strong { color: #216795;}
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

.popover {
	color: #000;
}

.btn.active {
	border: 1px solid #000;
}

body.invoice {
	padding-top: 10px;
	background-color: #fff;
	hr {border-top: 1px solid #000;margin:10px 0;}
	.address, .invoice-info {
		border: 1px solid #000;
		font-style:italic;
		padding:10px;
	}
	.invoice-info { 
		margin-top:30px;
		hr {border-top:2px solid #000;}
	}
	.divider {
		border-top: 2px solid rgb(192, 192, 192);
		margin: 15px 0;
	}
	.tenant {
		border: 1px solid #000;
		padding:10px;
		.name { font-size: 20px; height:80px;}
	}
	.codice {
		font-size: 10px;
		margin-top: 65px;
		line-height:8px;
		span { padding-left:60px;}
	}
	.expense {
		text-transform:uppercase;
		height:280px;
		font-size: 12px;
	}
	.prestazioni {
		text-transform:uppercase;
		height:100px;
		font-size: 12px;
	}
	.taxes {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		font-style: italic;
		.iva {
			font-size: 10px;
			font-weight:initial;
			margin:0;
		}
		p { margin:10px 0;}
		.total { border-top: 3px double rgb(84,84,169);}
		.percentage {
			font-weight:initial;
			font-style:initial;
			font-size:12px;
			padding-left:0;
			margin-left:0;
			margin-right:0;
			padding-right:0;
		}
		.amount {font-style:initial;}
	}
	.footer {
		color: rgb(84,84,169); 
		font-size:10px; 
		font-weight:bold;
		margin-top: -10px;
		font-style:italic;
	}
}

.pagination span, .pagination em, .pagination a { 
	padding:5px 10px; 
	border:1px solid #000;
	background-color:#fff;
	border-radius: 4px;
}

@-webkit-keyframes blinky {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes blinky {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes blinky {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blinky {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.blink {
	-webkit-animation: blinky 1s  infinite;
	-moz-animation: blinky 1s  infinite;
	-o-animation: blinky 1s  infinite;
	animation: blinky 1s  infinite;
}

.user-file {
	background-color: #fff; 
	padding:30px 0; 
	border:1px solid #fff; 
	border-radius: 4px;
}