// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
//= require fontawesome/scss/font-awesome.scss

body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef;
}

a {
  color: #00B7FF;
}

hr {
	border-top: 1px solid rgb(204, 204, 204);
}

.error-message {
	display: block;
	margin-top: 10px;
	color: red;
}

input.ng-dirty.ng-invalid{ 
	border-color:red;
}

.form-signin {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 15px 35px 35px;
	background: #fff;
	button {
		margin-bottom: 20px;
	}
}

.signin {
	margin-top: 50px;
}

.partial {
	background-color: #F0C9A1;
}

.leaseFormErrors {
	color: red;
	text-align: left;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}