<div class="row">
	<div class="col-xs-12">
		<h3>Nuovo Tipo di Spesa</h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="expenseFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right">
			<%= link_to expenses_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Torna alla lista
			<% end %>
		</p>
	</div>
</div>