<div class="row">
	<div class="col-xs-12">
		<h3>Modifica Allarme Non Pagato</h3>
		<hr />
	</div>
</div>
<div class="row" ng-controller="unpaidAlarmFormController">
	<div class="col-xs-12">
		<%= render :partial => "form" %>
		<p class="text-right" style="margin:20px;">
			<%= link_to unpaid_alarms_path, {} do %> 
			<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>  Torna alla lista
			<% end %>
		</p>
	</div>
</div>