<div class="popover">
	<div class="arrow"></div>
	<div class="popover-title">
		<h5>Spesa per edificio <%= @building.name %>
	</div>
	<div class="popover-content">
		<%= render :partial => "form" %>
	</div>
</div>